MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=pedidos_db
MONGO_COLLECTION=pedidos

RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_QUEUE=pedidos.criados

KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC=pedidos.criados
